# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Three commonly used languages in data science:

1. Python
2. R
3. SQL

### Three commonly used libraries in data science:

1. Pandas
2. NumPy
3. Scikit-learn

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| RStudio              |
| Apache Zeppelin      |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
2+3

5

In [3]:
2*7

14

In [4]:
89-55

34

In [12]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60

hours = round(200 / 60, 2);

print(hours)

3.33

**Objectives:**
    - Python
    - R
    - SQL

## Author Yana Zahoruiko